<html>

<head>
    <style>



    </style>
</head>

<body>


    welcome 

    <div class="card container" style="width: 15rem;">




        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/{{path}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Name: {{username}}</h5>
                <p class="card-text"> <a href="/logout" class="btn btn-primary">Logout</a></p>

            </div>
        </div>
    </div>



</body>

</html>